<html>
  <head>
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="../app.js"></script>

    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: -25.344, lng: 131.031 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
      
      window.initMap = initMap;
          </script>

  </head>
  <body>
    <!--The div element for the map -->
    <div id="map" style="height:500px; width: 500px;"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAY6AUO3bJvykH8YxldX-yppdDiNjJBYrI&callback=initMap&v=weekly"
      defer
    ></script>

  </body>
</html>