<!-- nav bar -->

<ul class="nav nav-underline nav-fill">
    <li class="nav-item">
      <a class="nav-link"  href="#">Plan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Maps</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Setting</a>
    </li>
  </ul>

  <!-- <a class="nav-link active" aria-current="page" href="#">Setting</a> -->
  <!-- need to be connect link -->
  <!-- make visible that user is in its current page -->
  <!-- use breadcrumb -->