<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Setting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  </head>
  <body>
  
    <!-- nav bar -->
    <%-include('nav.html')%>

    <!-- content -->
    <div class="container mt-4">
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">AI recommed</h5>
            <h6 class="card-subtitle mb-2 text-muted">Use AI recommend</h6>
            <p class="card-text"></p>
            <!-- checkbox -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                </div>
              </div>
            </div>

          </div>
        </div>
  
      
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Reset the plan</h5>
            <h6 class="card-subtitle mb-2 text-muted">All the plan will be removed</h6>
            <!-- <p class="card-text">No selection will be provided as a day</p> -->
            <!-- checkbox -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Auto-save</h5>
            <h6 class="card-subtitle mb-2 text-muted">Your plan will be saved automatically</h6>
            <!-- <p class="card-text">Initial setting is "Yes"</p> -->
            <!-- checkbox -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                  <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                </div>
              </div>
            </div>  
          
          </div>
        </div>

      </div>

      <!-- link to problem page area -->
      <div class="container mt-3">
        <div class="border border-2">
          <p>any problem?</p>
          <p>click</p> 
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  </body>
</html>